@font-face {
    font-family: Lobster;
    src: url(Lobster-Regular.ttf);
}
body{
    background-color: darkslategrey;
}

#mainHeader{
    color: white;
    font-family: Lobster;
    font-style: italic;
    font-size: 6em;
    text-align: center;
    
}

/* .playerNames{
    border: solid;
    border-color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
} */

.imgs{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
    
}

#playerBox{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 17%;
    font-size: 3em;
    font-family: Lobster;
    color: white;
}

.winner{
    color: gold;
}

#winnerDisplay{
    text-align: center;
    font-family: Lobster;
    font-size: 4em;
    color:gold;
}

#sign{
    color:dimgrey;
    font-family: Lobster;
    font-size: 1em;
    text-align: left;
}